* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.cointainer {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #2B3844;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.header-item {
    color: white;
}

.header-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 10px;
    color: #fff;
}






.main {
    background-color: rgb(32,44,54);
    padding: 48px 80px 45px;
}

.main-input {
    background-color: #2B3844;
    /* padding: 18px 0 18px 40px; */
    width: 480px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    padding-left: 50px;
    height: 56px;
}

.main-section {
    padding-top: 48px;
}

.input-img {
    top: 20px;
    left: 10px;
    position: absolute;
    z-index: 101;
}

.input-div {
    position: relative;
}


.wrapper{
padding: 30px;
display: flex;
flex-direction: column;
gap: 75px;
flex-wrap: wrap;
}
.p{
    
    font-family: "Nunito Sans";
    font-size: 14px;
    color: #fff;
}
.h2{
    color: #fff;
}
.card-top{
    width: 264px;
    background-color: #2B3844;
    display: flex;
    border: none;
    border-radius:5px ;
    gap: 20px;
    flex-direction: column;

}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 0 50px 30px;
}
.box-top{
    display: flex;
    gap: 74px;
}
.box-bottom{
    display: flex;
    gap: 74px; 
}
@media only screen and (max-width: 1463px) {
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 23px;

    }

}
@media only screen and (max-width: 582px) {
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 5px;

    }

    .main-input {
        background-color: #2B3844;
        padding: 18px 0 18px 40px;
        width: 300px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
    }

    .header-item {
        font-size: 18px;
    }

}
@media only screen and (max-width: 1388px) {
    .wrapper{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 75px;
        flex-wrap: wrap;
        } 
        .box-top{
            display: flex;
            gap: 64px;
          flex-wrap: wrap;
        } 
        .box-bottom{
            display: flex;
            gap: 64px; 
            flex-wrap: wrap;
        }
        .main {
            background-color: rgb(32,44,54);
            padding: 48px 80px 45px;
            flex-wrap: wrap;
        }

}
@media only screen and (max-width: 409px) {
    .main-input {
        background-color: #2B3844;
        padding: 18px 0 18px 40px;
        width: 255px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
    }

}
@media only screen and (max-width: 350px) {
    .card-top{
        width: 210px;
        background-color: #2B3844;
        display: flex;
        border: none;
        border-radius:5px ;
        gap: 20px;
        flex-direction: column;
    
    }

}
    
